@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
    @apply font-body;
    background-color: #ffffff;
    color: #3E3E3E;
    overflow-x: hidden
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title;
}

.base-container {
    @apply max-w-[1440px] mx-auto px-[20px] sm:px-[40px] md:px-[60px] lg:px-[80px]
}

.--limit-text-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; }

.--limit-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
}