/* police Fellix */
@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fellix';
    src: url('/fonts/Fellix-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Police  Euclid Circular A*/

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/Euclid Circular A Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/Euclid Circular A SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/Euclid Circular A Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/Euclid Circular A Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/Euclid Circular A Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}